<div class="text-success">
  <%=render"layouts/message"%>
</div>
<div class="container">
  <%=render"layouts/error",obj:@book%>
  <div class="row">
    <div class="col-md-3 mt-2">
    <%=render"layouts/info",user:@user%>
    <%=render"layouts/form",book:@book%>
    </div>
    <div class="col-md-9">
      <h2 class="mt-2">Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%=link_to(user_path(@user.id))do%>
                <%=image_tag @user.get_profile_image(40,40)%><br>
                <%=@user.name%>
              <%end%>
            </td>
            <td>
              <%=link_to(book_path(@book_one))do%>
                <%=@book_one.title%>
              <%end%>
            </td>
            <td>
              <%=@book_one.body%>
            </td>
            <%if @book_one.user==current_user%>
            <td>
              <%=link_to"Edit",edit_book_path(@book_one.id),class:"btn btn-success btn-sm"%>
            </td>
            <td>
              <%=link_to"Destroy",book_path(@book_one.id),method: :delete,"data-confirm"=>"本当に削除しますか？",class:"btn btn-danger btn-sm"%>
            </td>
            <%end%>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
